html {
  overflow-y: auto !important;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: var(--app-bg-color);
  text-align: center;
  color: var(--color-white);
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

:root {
  --app-bg-color: rgba(50, 50, 50, 1);
  --color-white: #f0f0f0;
  --color-light-grey: #cfcfcf;
  --color-dark-grey: #7b7b7b;

  --slider-height: 4px;
  --slider-bg: var(--color-dark-grey);
  --slider-connect-bg: #90caf9;
  --slider-tooltip-bg: #4a99d9;
  --slider-handle-width: 10px;
  --slider-handle-height: 16px;
  --slider-handle-radius: 2px;
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
  height: 100vh;
}

.rotate-by-90-deg {
  transform: rotate(90deg);
}
